<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kuplay.pi_framework">

    <application>
        <activity
                android:name=".framework.WebViewActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:theme="@style/FullScreenWithoutAny"/>



        <activity
                android:name=".framework.NewWebViewActivity"
                android:launchMode="standard"
                android:screenOrientation="portrait"
                android:theme="@style/FullScreenWithoutAny" />
        <service
                android:name=".module.service.UpdateAppService"
                android:enabled="true"
                android:exported="true" />
        <service
                android:name=".module.service.RestartService"
                android:enabled="true"
                android:exported="true" />


    </application>


</manifest>


