<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kuplay.pi_module">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application>

        <!-- 选择照片 -->
        <activity
                android:name="com.iqos.imageselector.ImageSelectorActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait" />
        <!-- 预览 -->
        <activity
                android:name="com.iqos.imageselector.PreviewActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- 裁剪图片 -->
        <activity
                android:name="com.iqos.imageselector.ClipImageActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- 扫描二维码 -->
        <activity
                android:name="com.iqos.qrscanner.app.QRScannerActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 广点通 -->
        <service
                android:name="com.qq.e.comm.DownloadService"
                android:exported="false" />
        <activity
                android:name="com.qq.e.ads.ADActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
                android:name="com.qq.e.ads.PortraitADActivity"
                android:screenOrientation="portrait"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
                android:name="com.qq.e.ads.LandscapeADActivity"
                android:screenOrientation="landscape"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false" />

    </application>




</manifest>