<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kupay.kupay">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 录音权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 访问相机的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态的权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 联网权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取使用WiFi等WLAN无线网络 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 往SDCard写入数据权限 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 闪光灯 -->
    <uses-feature android:name="android.hardware.camera" /> <!-- 相机 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 摇动 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 读取SDCard权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Android 7.0 文件共享配置，必须配置 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.kupay.kupay.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".app.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenWithoutAny" />

        <!-- 选择照片 -->
        <activity
            android:name="com.iqos.imageselector.ImageSelectorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 预览 -->
        <activity
            android:name="com.iqos.imageselector.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- 裁剪图片 -->
        <activity
            android:name="com.iqos.imageselector.ClipImageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- 扫描二维码 -->
        <activity
            android:name="com.iqos.qrscanner.app.QRScannerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!-- 选择联系人 -->
        <activity
            android:name=".app.SelectContactsActivity"
            android:label="@string/app_select_contacts_label"
            android:screenOrientation="portrait" />
    </application>

</manifest>